/* Reset */
	html, body {
		width: 100%;
		height: auto;
		/* min-width: 1200px; */
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		/*font: inherit;*/
		font-family: "微軟正黑體";
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	a {
		text-decoration: none;
		color: #00DDAA;
	}


.wrap {
	max-width: 1000px;
}

.header_gray {
	background-color: #DDDDDD;
	display: flex;
	justify-content: flex-end;
}

.header_gray p{
	display: inline-block;
	padding: 0 10px 0 10px;
}

.font_color_blue {
	color: #0000CC;
}

.font_color_sky {
	color: #00DDDD;
}

.header_white {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 10px 10px #e4e4e4;
}

@media(max-width: 767px) {
	.header_white {
		display: block;
	}
}

.logo_area h1 a{
	display: block;
	background-image: url("../images/logo.png");
	width: 170px;
	height: 36px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	margin: 10px;
}

@media (max-width: 767px) {
	.logo_area h1 a {
		margin: 0 auto;
		margin-top: 10px;
	}
}

.flex_area ul li {
	display: inline-block;
	line-height: 45px;
	padding-right: 15px;
}

.flex_area ul li a {
	display: block;
	padding: 10px;
	border-bottom: 3px solid transparent;
}

.flex_area ul li a:hover {
	display: block;
	color: #46DAB5;
	border-bottom: 3px solid #46DAB5;
}

@media (max-width: 767px) {
	.flex_area ul li {
		width: 50%;
		text-align: center;
	}
}

.box {
	margin-top: 20px;
	max-width: 1000px;
}

.box > ul{
	display: flex;
	justify-content: space-between;
}

.box > ul > li {
	width: 31.33333%;
	border: 3px solid #000;
	margin-left: 2%;
	text-align: center;
	border: 1px solid #f1f1f1;
	box-shadow: 0 10px 10px #e4e4e4;
}

@media (max-width: 767px) {
	.box > ul {
		display: block;
	}
	.box > ul > li {
		width: 98%;
	}
}

.box ul li img {
	padding-top: 20px;
}

.box ul li h2 {
	text-align: center;
}

.box ul li p {
	padding: 10px;
	line-height: 20px;
}

.content_list {
	display: inline-block;
}

.content_list li{
	list-style: circle;
	line-height: 30px;
}
