//字體顏色
$mainC1:#48b0f7;//藍色
$mainC2:#5cb48b;//主色系2
$mainC3:#f77975;//基本色系
$body-mainC:#011A23;
$titlecolor:#FFFFFF;//標題字體顏色
$contentC:#666666;//內文字體顏色
$linkC:#0071BC;//連結字體顏色
$navbg:#2b303b;//nav背景色
$navcolor:#4D4D4D;
$bor: #b3b3b3;//框色
$probor: #cccccc;//產品框線

$menuall: #492626;
$menubg: rgba(43,43,43,0.9);

//lighten(red, 50%) 增亮50%
//darken(blue, 50%) 變暗50%$blue:    #007bff !default;
$blue:#A5FF23;