button {
  outline: none !important;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
  height: 42px;
  font-size: 14px;
  @include semibold;
  @include radius(2px);
  text-transform:uppercase;
  &:focus {
    box-shadow: none;
  }

  &.btn-sm {
    padding: 4px 10px;
    height: 32px;
    font-weight: normal !important;
  }

  i {
    position: relative;
    top: 4px;
    font-size: 20px;
    height: 14px;
    line-height: 14px;
    display: inline;
  }
}

.btn-white {
  color: #868C8A;
  background-color: white;

  &:hover {
    color: $font-main;
  }
}

.btn-danger{
  background-color: $red;
  border:1px solid darken($red, 10);
  &:hover,&:focus,&:active{
    background-color: darken($red, 5);
  }
  &:active,&:active,&:visited,{
    background-color: darken($red, 10)!important;
    border:1px solid darken($red, 20)!important;
    box-shadow: none !important;
  }
}

.btn-yellow{
  background-color: $mainC2;
  border:none;
  color:white;
  &:hover,&:focus,&:active{
    background-color: darken($mainC2, 5);
  }
  &:active,&:active,&:visited,{
    background-color: darken($mainC2, 10)!important;
    box-shadow: none !important;
  }
}

.btn-primary {
  background-color: $mainC1;
  border: none;

  &:hover,&:active{
    background-color: darken($mainC1, 5)!important;
    box-shadow: $mainC1!important;
    box-shadow: none !important;
  }

  // &:active,
  // &:visited,
  // &:focus {
  //   box-shadow: none !important;
  //   background-color: darken($mainC1, 5) !important;
  // }

  &:disabled {
    background-color: #E6E6E6;
    color: #A6A6A6;
    cursor: not-allowed;
    &:hover{
      background-color: #E6E6E6!important;
    }
  }


    // .icon{
    //   width: 18px;
    //   height: 18px;
    //   @include bgcover;
    //   background-position: center;
    //   display: inline-block;
    //   line-height: 14px;
    //   position: relative;
    //   top:2px;
    //   margin-right: 10px;
    // }
    i {
      font-size: 20px;
      font-size: 100px;
      height: 14px;
      line-height: 14px;
      position: relative;
      top: 5px;
      margin-right: 5px;
    }

    .context {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }

  .btn-primary-outline {
    background-color: white;
    border: 1px solid $mainC1 !important;
    color: $mainC1;

    &:hover {
      background-color: darken(white, 5);
      box-shadow: white;
      color: $mainC1;
    }
    &:active{
      background-color: $mainC1;
      color: white;
    }
    &:disabled {
      background-color: #E6E6E6;
      color: #A6A6A6;
      cursor: not-allowed;
    }
  }

  .btn-grey-outline {
    background-color: white;
    border: 1px solid #B8C2BF !important;
    color: #868C8A;

    &:hover {
      background-color: darken(white, 5);
      box-shadow: white;
    }

    &:active,
    &:visited,
    &:focus {
      box-shadow: none !important;
      background-color: darken(white, 5) !important;
    }

    &:disabled {
      background-color: #E6E6E6;
      color: #A6A6A6;
      cursor: not-allowed;
    }
  }

  .btn-favorite {
    background-color: white;
    border: 1px solid $red;
    color: $red;

    // &:hover{
    //   background-color: darken($mainC1, 5);
    //   box-shadow: $mainC1;
    // }
    &:active,
    &:visited,
    &:focus {
      box-shadow: none !important;
    }

    &.active {
      color: $red;
      border: 1px solid $red;
      .icon {
        width: 18px;
        height: 18px;
        background-image: url('../images/icons/heart_fill.png');
        @include bgcover;
        background-position: center;
        display: inline-block;
        line-height: 14px;
        position: relative;
        top: 3px;
        margin-right: 10px;
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      background-image: url('../images/icons/heart.png');
      @include bgcover;
      background-position: center;
      display: inline-block;
      line-height: 14px;
      position: relative;
      top: 3px;
      margin-right: 10px;
    }

    .context {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }


  .btn-link {
    color: $mainC1;
    border: none;

    &:hover {
      background-color: #f6f6f6;
      box-shadow: $mainC1;
      color: $mainC1;
      text-decoration: none;
    }

    &:active,
    &:visited,
    &:focus {
      box-shadow: none !important;
      background-color: darken(#f6f6f6, 5) !important;
      text-decoration: none;
    }
  }

  .btn-default {
    background-color: #f3f5f5;
    border: none;
    color: #B8C2BF;

    &:hover {
      background-color: darken(#f3f5f5, 5);
      box-shadow: #f3f5f5;
    }

    &:active,
    &:visited,
    &:focus {
      box-shadow: none !important;
      background-color: darken(#f3f5f5, 5) !important;
    }
  }

  .btn-sm {
    i {
      font-size: 18px;
      position: relative;
      top: 4px;
      margin-right: 5px;
    }
  }


////// social button //////
.google-sign-up {
  width: 250px;
  border: 1px solid #B8C2BF;
  background-image: url('../images/icons/google.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-color: white;

  &:hover {
    background-color: darken(white, 5);
  }

  &:focus {
    background-image: url('../images/icons/google.png') !important;
  }

  @include x640 {
    width: 100%;
  }
}

.fb-sign-up {
  width: 250px;
  background-image: url('../images/icons/facebook_w.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-color: #1877F2;
  color: white;

  &:focus {
    background-image: url('../images/icons/facebook_w.png') !important;
  }

  &:hover {
    background-color: darken(#1877F2, 5);
  }

  @include x640 {
    width: 100%;
  }
}

.next-btn:disabled {
  position: relative;

  &:hover {
    &:before {
      opacity: 1;
      @include transition(0.3s);
      display: block;
      content: "Please complete all the fields to continue.";
      font-weight: normal;
      padding: 2px 5px;
      @include radius(2px);
      position: absolute;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      bottom: 50px;
      right: 0px;
    }
  }
}


// payment radio
.payment-method-radio {
  margin: 0 -7.5px;
  display: flex;
  @include x768{
    display:block;
    margin:0px;
  }

  .payment-radio-wrapper {
    width: 100%;
    height: 140px;
    position: relative;
    display: inline-block;
    margin: 0 7.5px;
    @include x768{
      margin:0px;
      margin-bottom:10px;
    }

    .radio-btn {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 5;
      @include radius(5px);
      border: 1px solid $mainC1;
      @include transition(0.3s);

      .price {
        position: relative;
        font-size: 26px;
        font-weight: bold;
        color: $mainC1;
        margin: 10px 0px 0px 0px;
        &.line-through{
          color:$light-grey;
        }
        &.line-through:after{
          position: absolute;
          top:50%;
          left:calc(50% - 35px);
          width:70px;
          z-index: 10;
          content:' ';
          display:block;
          border-top: 2px solid $red;
          -webkit-transform: rotate(15deg);
          -moz-transform: rotate(15deg);
          -o-transform: rotate(15deg);
          writing-mode: lr-tb;
        }
        &.font-red{
          color:$red;
        }
      }
    }

    input[type='radio'] {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 10;
      opacity:0;
      &:checked~.radio-btn {
        top: -10px;
        background-color: $mainC1;
        box-shadow: 0 5px 4px 0 rgba(31, 181, 151, 0.3), 0 20px 10px -10px rgba(0, 0, 0, 0.2);
        @include x768{
          top:-3px;
        }
        span {
          color: white;
        }

        .price {
          color: white;
          &.line-through{
            color:rgba(255,255,255,0.5)
          }
          &.line-through:after{
          border-top: 2px solid rgba(255,255,255,0.8);
        }
        }
      }
    }
  }

  &.edit {
    @include x992 {
      display: block;
      .payment-radio-wrapper {
        width: calc(50% - 17px);
        margin-bottom: 10px;
      }
    }
    @include x768{
      display: block;
      .payment-radio-wrapper {
        width: 100%;
        margin:0px;
        margin-bottom: 10px;
      }
    }
    .radio-btn.cancel{
      background-color: #F3F5F5;
      border:none;
      color: #CCCCCC;
    }
  }
}



.switch-btn {

  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 44px;
    height: 24px;
    background:#B8C2BF;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right:auto;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.2s;
    @include box-shadow(2px,1px,1px,rgba(0,0,0,0.2));
  }

  input:checked+label {
    background: #1FB597;

  }

  input:checked+label:after {
    left:auto;
    right:2px;
  }

  label:active:after {
    width: 30px;
  }
}