.table{
  @include box-shadow(0px,0px,2px,rgba(0,0,0,0.1));
  margin-bottom: 0px;
}
.table.table-green{
  border:1px solid #F3F5F5;  
  thead{
    background-color: #E4F8F4;
    color: #779992;
    th{
      border:none;
      font-weight: normal;
      &.pa0{
        padding:0px;
      }
    }
  }
  td{
    border-bottom:1px solid #F3F5F5;
    vertical-align: middle;
    background-color: white;
  }
  tbody{
    .cancel-td{
      padding:0px;
    }
    tr.cancel{
      td{
        background-color: #F0F3F3;
        opacity:0.5;
      }
      .cancel-td{
        padding:0px;
        max-width: auto;
      }
      .cancel-td:after{
        opacity:1;
        padding:12px;
        text-align: center;
        content:'Cancelled';
        color: #123123!important;
      }
    }
  }
}

.book-status-table{
  .vendor{
    .vendor-name{
      @include textflow(2);;
    }
  }
  .client-name{
    @include textflow(2);;
  }
}