.content{
	position: relative;
	left:0px;
	top: 0px;
	width: 100%;
	padding-top: 54px;
	@include transition(0.3s);
	&.active{
		left:260px;
		width: calc(100% - 260px);
		@include x768{
			left:260px;
			width: 100%;
		}
	}
}
.container{
	@include i1200{
		max-width: 1600px;
	}
}
.no-sign-content{
	padding-top: 54px;
}
.container,.container-fluid{
	margin-top: 1rem;
}
.page-header{
	width: 100%;
	background-color: #FFFFFF;
	padding:15px;
}

//麵包紙
.breadcrumb{
	background-color: transparent;
	padding:0px;
	margin-bottom: 30px;
  margin-top: 30px;	
}
// 卡片
.card{
	border:none;
	// border:1px solid #E6E6E6;
	margin-bottom: 1rem;
	// overflow: hidden;
	@include box-shadow(0px,0px,3px,rgba(0,0,0,0.1));
}
.card-header{
	.card-title{
		margin-bottom: 0px;
	}
}
.card-nav{
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: initial;
	background-color: #E6E6E6;
	border-bottom: none;
	.nav-link{
		color: #808080;
		border:0px;
	}	
}
.panel-card{
	@include box-shadow(0,0,2px,rgba(0,0,0,0.1));
	@include radius(5px);
	background-color: #fff;
	padding:20px;
	margin-bottom: 30px;
}


// iframe嵌入
.kibana{
	width:100%;
	height:400px;
	overflow-x: auto;
	position: relative;
	iframe{
		position: absolute;
		top:0px;
		left: 0px;
		width:100%;
		overflow-y:none;
		height:100%;
		border:none;
	}
}
.react-grid-item{
	width: 1450px; height: 100vh; position: absolute; touch-action: none; transform: translate(8px, 8px); z-index: 1;
}

//登入頁
.login-background{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.login-logo{
	text-align: center;
	margin-bottom:1rem;
	img{
		height: 60px;
		width: auto;
	}
}

//首頁
.position-label{
	color:#808080;
}

// 個人資料
.account-info{
	padding:0 50px;
	@include x768{
		padding:0;
	}
}


// member detail
.member-avatar{
		width:60px;
		height:60px;
		@include radius(100px);
		@include bgcover;
		margin-right:20px;
}
.member-detail{
	.panel-card{
		border:1px solid #dee2e6;
	}
}