@include i992{
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #CCCCCC; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}
}

@include x992{
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #CCCCCC; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}
}

html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,textarea{
  -webkit-appearance: none;  /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none;     /* FireFox */
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}
input[type="number"] {
-moz-appearance: textfield;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
/* overflow: hidden; */
}
body.bg-grey{
  background-color: #f9f9f9!important;
}
p{
  margin:0px!important;
}
a {
  text-decoration: none!important;
  color: $font-main;
  &:focus{
    box-shadow: none!important;
  }
  &.grey-line{
    color: $font-grey;
    text-decoration: underline!important;
  }
  &.green{
    color:$mainC1;
    &:hover{
      color: darken($mainC1, 10);
    }
  }
  &.grey{
    color:$font-grey;
    &:hover{
      color: $mainC1;
    }
  }
}
img {
  max-width: 100%;
}
input,button{
  outline: none;
}
::-moz-selection { 
  color: red;
  background: $mainC1;
}

::selection {
  color: white;
  background: $mainC1;
}
body{
  font-family: "Helvetica Neue","Helvetica",arial,sans-serif,"SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC"!important;
  font-size: 14px!important;
  color:$font-main;
  line-height: 22px;
  padding-top: 60px;  
  @include x768{
    padding-top: 50px;
  }
}
.container{
  @include x640{
    padding:auto 20px;
  }
}
.square-container{
  position: relative;
  padding-top: 100%;
  padding-left:100%;
  
}

// font setting
.bold{
  @include bold;
}
.semibold{
  @include semibold;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  margin:0px;
}
h1{
  font-size: 26px;
  line-height: 32px;
}
h2{
  font-size: 18px;
  line-height: 24px;
}
h3{
  font-size: 16px;
  line-height: 24px;
}
.title-xl{
  font-size: 32px;
  line-height: 42px;
}
small{
  font-size: 12px;
  line-height: 16px;
}
.font-main{
  color: $font-main!important;
}
.font-green{
  color: $mainC1!important;
}
.font-grey{
  color: $font-grey!important;
}
.font-light-grey{
  color: $font-light-grey;
}
.font-red{
  color: $red;
}
.font-yellow{
  color: $mainC2;
}
.section-title{
  font-size: 18px;
  font-weight: 900;
  font-family: "Helvetica Neue","Helvetica","SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Arial",sans-serif!important;
  color: $mainC1;
}
.word-break{
  word-break: break-all;
}

// ROW
.row.row-pa15{
  margin:0 -7.5px;
  div[class*="col"]{
    padding:0 7.5px;
  }
}

.relative{
  position: relative;
}
.pointer{
  cursor: pointer;
}
.dash-line{
  border-bottom:1px dashed #B8C2BF;
}
.border-line{
  border-bottom:1px solid #B8C2BF;
}

.min-height{
  min-height: calc(100vh - 330px);
}

.hc100{
  min-height: calc(100vh - 100px);
  padding:50px 0px;
}